.container{
    width: 500px;
    overflow: hidden;
    //  border: 1px solid black;
    height: 12px;
    display: flex;
    gap: 15px;
    border-radius: 1000px;
    background-color: var(--cream-light);
    span{
        border-radius:1000px ;
        background-color: var(--black);

    }
}