.wrapper{
 padding:10px 6rem;

 @media screen and (max-width:800px) {
    padding: 10px 0.5rem;
    width: 100%;
 }
 @media screen and (max-width:1200px) {
   padding: 10px 0.5rem;
   width: 100%;
   
}
}   