.box{
    display: flex;
    flex-direction: column;
    gap: 8px;

    h4 {
        font-size: var(--fs-md);
        font-weight: var(--fw-medium);
    }

    input {
        border: 1px solid var(--grey);
        border-radius: 8px;
        font-size: var(--fs-md);
        padding: 16px 20px;
        margin-bottom: 10px;
    }
}