.form-container{
display: flex;
width:100%;
border:1px solid blue;
align-items: center ;
justify-content: center;
flex-direction: column;

.form{
    display: flex;
    margin-top:5px ;
    flex-direction: column;
    article{
        display: flex;
        width: 320px;
        height: 50px;
        margin: 25px 0;
        padding: 13px 20px;
        align-items: center;
        cursor:pointer;
      color:var(--white);
        background-color: #F7685C;
                justify-content: center;
                gap: 10px ;
                border-radius: 8px;

        svg{
            width: 30px;
            height: 30px;
        }
        h3{
            font-size: var(--fs-lg);
          
        }
        @media screen and (min-width: 140px) {
            width: 400px;
        }
       
    }  
    .option{
        display: flex;
        height: 1px;
        border: 1px solid var(--grey);
    align-items: center;
    justify-content: center;
    span{
        margin: 0 auto;
        position:absolute;
padding: 0px 5px;
background-color: var(--white);
z-index: 1;

    }
}
}

}