.form-container{
display: flex;
width:100%;
border:1px solid blue;
align-items: center ;
justify-content: center;
flex-direction: column;
.form{
    display: flex;
    margin-top:15px ;
    article{
        display: flex;
        width: 320px;
        height: 50px;
        margin: 25px 0;
        padding: 13px 20px;
        align-items: center;
        cursor:pointer;
      color:var(--white);
        background-color: #F7685C;
                justify-content: center;
                gap: 10px ;
                border-radius: 8px;

        svg{
            width: 30px;
            height: 30px;
        }
        h3{
            font-size: var(--fs-lg);
          
        }
        @media screen and (min-width: 140px) {
            width: 400px;
        }
    }  

}

}