.header {
    display: grid;
    width: 100%;
    gap:20px;

  padding: 0 6rem;
  padding-top: 30px;
  grid-template-columns: auto 60px;
align-items: center;
  @media screen and (min-width:140px) {
    padding: 10px 12rem;
    padding-top: 30px;
 }

    .search-bar{
        display: flex;
        width: 100%;
      align-items: center;
      gap: 15px;
      .field{
        width: 100%;

   
      
    
      input{
        width: 100%;
outline: none;
       border: none;
       font-size: var(--fs-lg);
       &:active{
        border: none;
       outline: none;
       }
}
      }
svg{
  width: 30px;
  height: 26px;
  color: var(--grey);
}

        
    }
    .theme{
      svg{
        width: 30px;
        height: 30px;
        color: var(--grey);

      }
    }

}