.form-container{
display: flex;
width:100%;
// border:1px solid blue;
align-items: center ;
justify-content: center;
flex-direction: column;

.form{
    display: flex;
    margin-top:5px ;
    flex-direction: column;

    // border:1px solid green;

    .google{
        display: flex;
        width: 320px;
        height: 50px;
        margin: 25px 0;
        padding: 13px 20px;
        align-items: center;
        cursor:pointer;
      color:var(--white);
        background-color: #F7685C;
                justify-content: center;
                gap: 10px ;
                border-radius: 8px;

        svg{
            width: 30px;
            height: 30px;
        }
        h3{
            font-size: var(--fs-lg);
          
        }
        @media screen and (min-width: 140px) {
            width: 400px;
        }
       
    }  
    .option{
        display: flex;
        height: 1px;
        border: 1px solid lightgrey;
    align-items: center;
    justify-content: center;
    color:var(--grey);
    span{
        // border: 1px solid red;

        margin: 0 auto;
        position:relative;
padding: 0px 30px;
background-color: var(--white);
z-index: 1;
color:var(--grey);
    }
}

input{
   
    padding :13px 20px;
  width: 400px;
    border-radius:8px;
    margin-top: 20px;
    font-size: var(--fs-md);
    border:1px solid var(--grey);
}
    .details{
       display: flex;
    //  border: 1px solid red;
     margin-top: 30px;
       flex-direction: column;
    
      
}

.emailBtn{
    background-color: #30C58D;
    color: var(--white);
    gap: 10px;
   
}

}

}