.container{
    display: flex;
    height: 100%;
    width: 100%;
    
border: 1px solid black;
    flex-direction: column;


main{
    display: grid;
   
gap:30px;
grid-template-columns: repeat(5,250px);
}
}