.boX{
    display: flex;
    gap:5px;
    flex-direction: column;

h4{
    font-size: var(--fs-md);
    font-family: var(--fw-medium);

}
input{
    padding:10px;
    border-radius: 8px;
    font-size: var(--fs-md);
    border: 1px solid var(--grey);
}
}